{
    "presets": [
        ["@babel/env", {
            "useBuiltIns": "usage",
            "corejs": "3",
            "targets": {
                "browsers": [ //Browsers compatibility
                    "last 5 versions", //last 5 versions of browsers
                    "ie >= 8" //Internet Explorer version >= 8
                ]
            }
        }]
    ]
}